<?xml version="1.0"?>

<!--Launchfile for RvizMovementbuttons plugin-->

<launch>		
		<!-- upload button parameters, but delete the old ones before -->
		<rosparam command="load" ns="control_buttons" file="$(find cob_default_robot_config)/$(env ROBOT)/command_gui_buttons.yaml"/>
		<rosparam command="load" ns="nav_buttons" file="$(find cob_default_env_config)/$(env ROBOT_ENV)/command_gui_buttons.yaml"/>
</launch>

